@import url('https://fonts.googleapis.com/css2?family=Anton&family=Roboto+Condensed&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
      font-family: 'Roboto Condensed', system-ui, sans-serif;
    }
    h1 {
        font-family: 'Anton', system-ui, sans-serif;
      }
  }